// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')
// @import 'nib'

// global-reset()

// -----------------------------------------------------------------------------
// variables
// -----------------------------------------------------------------------------

$fnt-open-sans = 'Open Sans', sans-serif
$clr-white = #FFFFFF
$clr-off-white = #F5F5F5
$clr-gray = #6E7E85
$clr-blue = #0071bc
$clr-yellow = #f2e214
$clr-teal = #31b6be
$clr-neon-green = #00ff00

// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

*
  box-sizing border-box

html
  min-height 100vh

body
  background $clr-off-white
  background radial-gradient(ellipse at center, $clr-jumpsuit2 0%, $clr-jumpsuit1 100%)
  color $clr-blue
  font-family $fnt-open-sans
  font-weight 300
  max-width 100%
  margin auto

.main-header
  text-align center;
  height 40px
  background-color $clr-blue
  width 100%
  display flex
  flex-direction column
  justify-content center
  color $clr-blue

.login-button
  width 200px
  margin auto
  border solid 1px $clr-teal
  background-color $clr-off-white
  font-weight: 900
  &:hover
    background-color $clr-teal
    color $clr-blue
    cursor: pointer
