// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')
// @import 'nib'

// global-reset()

// -----------------------------------------------------------------------------
// variables
// -----------------------------------------------------------------------------

$fnt-open-sans = 'Open Sans', sans-serif
$clr-white = #FFFFFF
$clr-off-white = #F5F5F5
$clr-gray = #6E7E85
$clr-pale-aqua = #BEB8EB
$clr-blue = #0071bc
$clr-yellow = #f2e214
$clr-teal = #31b6be
$clr-neon-green = #00ff00

// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

*
  box-sizing border-box

html
  min-height 100vh

body
  background $clr-off-white
  color $clr-blue
  font-family $fnt-open-sans
  font-weight 300
  max-width 100%
  margin auto

.header-bar
  text-align center;
  height 40px
  background-color $clr-blue
  width 100%
  display flex
  flex-direction row
  justify-content space-between
  color $clr-blue

.login-button
  width 200px
  margin auto
  border solid 1px $clr-teal
  background-color $clr-off-white
  font-weight: 900
  &:hover
    background-color $clr-teal
    color $clr-blue
    cursor: pointer

.header-user
  color: $clr-off-white
  font-weight: 900
  font-size: 25px
  align-self: center;
  margin-right: 15px
  cursor: pointer;
  flex: 0 1 auto;

.logo
  align-self: center;
  flex: 0 1 auto;
  height: 40px;

.div-wrapper
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%

.menu-bars, .user-name
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;

.profiles
  display flex
  flex-direction row
  max-width 80%
  justify-content: center
  margin auto
  flex-wrap: wrap

.card
  // border solid 1px black
  margin auto
  width 200px
  display flex
  flex-direction column

.name
  font-size 26px
  margin -5px 0
  font-weight 700
  text-align left

.profile-image
  width 200px
  height 200px

.badge-link
  text-decoration: none
  color: $clr-blue
  &:visited
    color: $clr-blue

.profile-page
  background-color: $clr-blue
  color: $clr-white
  position: absolute
  height: 99%
  width: 99%
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto

.profile-close
  margin: 5px
  position: absolute;
  right: 0;
  cursor: pointer

#profile-form
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  div
    color white
    font-size: 20px
    font-weight: bold
    width: 50%
    label
      display: inline-block
      input
        display: block
        margin: 5px

#profile-button
  margin-top: 20px
  border: solid $clr-off-white 1px
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
  background-color: $clr-off-white
  border-radius: 5px
  font-family $fnt-open-sans
  color: $clr-blue
  font-weight: bold
  font-size: 15px
  cursor: pointer
  &:active
    background-color: $clr-pale-aqua;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    transform: translateY(4px);
