// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')
// @import 'nib'

// global-reset()

// -----------------------------------------------------------------------------
// variables
// -----------------------------------------------------------------------------

$fnt-open-sans = 'Open Sans', sans-serif
$clr-white = #FFFFFF
$clr-off-white = #F5F5F5
$clr-gray = #6E7E85
$clr-background = #FFFCF9
$clr-lighter-green = #00D07C
$clr-teal-blue = #40798C
$clr-black = #1C0F13
$clr-green = #32B97E

// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

*
  box-sizing border-box

html
  min-height 100vh

body
  background $clr-background
  background radial-gradient(ellipse at center, $clr-jumpsuit2 0%, $clr-jumpsuit1 100%)
  color $clr-green
  font-family $fnt-open-sans
  font-weight 300
  max-width: 90%
  margin: auto

.container
  display flex
  justify-content space-between
  padding 0 10px
  section
    display flex
    align-items center
    justify-content center
    flex-direction column
    width 50%
    height 100vh
    text-align center
    position relative
    &:first-child:after
      content ''
      background $clr-background
      position absolute
      right 0
      top: 50%
      transform: translateY(-50%)
      width 1px
      height 90%

.main-header
  text-align: center;
